services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.dev
    environment:
      - VERSION=0.1.0-dev
      - RELOAD=True
      - DEBUG=True
      - LOG_LEVEL=DEBUG
    volumes:
      - ./src:/app/src
      - ./pyproject.toml:/app/pyproject.toml
      - ./logs:/app/logs
    command: >
      uvicorn src.jis.main:app --host 0.0.0.0 --port ${PORT} --reload --reload-dir /app/src
    ports:
      - "${PORT}:${PORT}"
      - "5678:5678"

  db:
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"

  redis:
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"

  pgadmin:
    image: dpage/pgadmin4
    container_name: jis-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL:-admin@jis.com}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD:-admin}
    ports:
      - "8080:80"
    depends_on:
      - db
    networks:
      - jis-network