/* components/_sidebar.css */


.sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    background: var(--neutral-800);
    color: var(--neutral-200);
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    z-index: var(--z-fixed);
}

.sidebar-header {
    padding: var(--space-5) var(--space-4);
}

.sidebar-header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-header-div a {
    display: flex;
    align-items: center;
    gap: var(--space-3);
    text-decoration: none;
    color: inherit;
    width: fit-content;
}

.logo-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--space-8);
    height: var(--space-8);
    background: var(--neutral-600);
    border-radius: var(--radius-lg);
    border: 1px solid var(--neutral-600);
}

.logo-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    letter-spacing: var(--tracking-wide);
    font-size: var(--text-lg);
}

.logo-tagline {
    font-size: var(--text-xs);
    color: var(--text-tertiary);
    letter-spacing: var(--tracking-wide);
}

/* .logo-link:hover .logo-tagline {
    color: var(--text-muted)
} */

.sidebar-toggle {
    width: var(--space-6);
    height: var(--space-6);
    background: var(--neutral-600);
    border: 1px solid var(--neutral-600);
    border-radius: var(--radius-md);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sidebar-toggle:hover {
    background-color: var(--neutral-500);
    border-color: var(--neutral-500);
}
