services:
  web:
    build:
      context: ..
      dockerfile: docker/Dockerfile.dev
    environment:
      - ENV=development
      - LOG_LEVEL=DEBUG
      - RELOAD=true
      - PYTHONPATH=/app/src
    volumes:
      - ../src:/app/src
      - ../pyproject.toml:/app/pyproject.toml
    command: uvicorn jis.main:app --host 0.0.0.0 --port 8000 --reload --reload-dir /app/src
    ports:
      - "8000:8000"
      - "5678:5678"

  db:
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "5432:5432"

  redis:
    ports:
      - "6379:6379"

  pgadmin:
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@jis.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "8080:80"
    depends_on:
      - db