/* core/_layout.css */


.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: var(--z-fixed);
}

.main {
    width: 100%;
    min-height: 100vh;
    margin-left: var(--sidebar-width);
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-left: var(--sidebar-width);
    z-index: var(--z-fixed);
}
