/* core/_reset.css */


* {
    /* Box Model */

    padding: 0;
    margin: 0;

    /* Typography */

    font: inherit;

    /* Visual */

    box-sizing: border-box;
}

html, body {
    /* Box Model */

    width: 100%;
    height: 100%;

    /* Typography */

    font-family: var(--font-sans);

    /* Visual */

    overflow-x: hidden;
}

/* ::-webkit-scrollbar {
    width: 0.25rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-gray-600);
    border-radius: var(--radius-full);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray-600);
} */
