/* core/_reset.css */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: var(--font-sans);
}

/* ::-webkit-scrollbar {
    width: 0.25rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-gray-600);
    border-radius: var(--radius-full);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray-600);
} */
